
<mat-sidenav #sidenav mode="side" opened = "isExpanded">
<mat-nav-list>
    <mat-list-item (click)="isExpanded = !isExpanded">
        <button mat-icon-button color="primary">  
        <mat-icon mat-list-icon class="chevron-button" [ngClass]="{ rotated: isExpanded }">chevron_right</mat-icon>
        </button>  
    </mat-list-item>
    <mat-list-item routerLink='/users'>
        <span>
        <mat-icon color="primary">group</mat-icon>
        <h3 *ngIf="isExpanded">Användare</h3>
    </span>
    </mat-list-item >

    <mat-list-item  routerLink='/portfolios'>
        <span>
        <mat-icon color="primary">cases</mat-icon>
      <h3 *ngIf="isExpanded" >Portfolios</h3>
    </span>
    </mat-list-item>
</mat-nav-list>
</mat-sidenav>


