mat-sidenav{
   height: 100%; 
}
.chevron-button.rotated {
    transform: rotate(180deg);
}

.chevron-button {
    transition: 300ms ease-in-out;
    transform: rotate(0deg);
}

span{
    display: flex;  
    align-items: center;
}
h5{
    margin-left: 10px;
}