@import "../../../../theme.scss";

button:hover {
  color: white;
  background-color: $primary;
  border: 1px solid white;
  border-radius: 3px;  
  padding: 7% !important;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
}

.grid-item {
  display: flex;
  flex-direction: column;
}

.tile-box {
  display: flex;
  justify-content: space-between;
}

section{
  margin-bottom: 3%;
}