<div class="content">
<mat-card>
    <mat-card-header>
        <h2>{{title}} </h2>       
    </mat-card-header>
    <mat-card-content>
<form  class="form" [formGroup]="userForm" (ngSubmit)="onSubmit()">   
    <mat-form-field class="full-width">
      <mat-label>Namn</mat-label>
      <input type = "text" matInput formControlName="firstName" ngClass="submited" >
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-label>Efternamn</mat-label>
      <input type="text" matInput formControlName="lastName" ngClass="submited">
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-label>Email</mat-label>
      <input type="email" matInput formControlName="userName" ngClass="submited">
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-label>Lösenord</mat-label>
      <input type="password" matInput formControlName="password" ngClass="submited" >
    </mat-form-field>
    <div class="spacer">
          <button mat-icon-button  matTooltip="Tillbaka" (click)="back()"><mat-icon color="primary">arrow_back</mat-icon></button>       
          <button mat-raised-button color="primary">Registrera</button>  
    </div>
  </form>
</mat-card-content>
</mat-card>
</div>