<div class="content">
<mat-card>
    <mat-card-header>
        <h1>Registrera ny användare</h1>
    </mat-card-header>
    <mat-card-content>
<form class="form" [formGroup]=" registerForm" (ngSubmit)=" registerUser(this.registerForm.value)">
    <mat-form-field class="full-width">
      <mat-label>Namn</mat-label>
      <input type = "text" matInput formControlName = "firstName">
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-label>Efternamn</mat-label>
      <input type="text" matInput formControlName = "lastName">
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-label>Email</mat-label>
      <input type="email" matInput formControlName = "userName">
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-label>Lösenord</mat-label>
      <input type="password" matInput formControlName = "password">
    </mat-form-field>
    <div class="spacer">
          <a class="row" routerLink=""><mat-icon style="color: var(--white)">arrow_back</mat-icon><h3>Tillbacka</h3></a>       
          <button mat-raised-button color="primary">Registrera</button>  
    </div>
  </form>
</mat-card-content>
</mat-card>
</div>