
 <table mat-table [dataSource]="portfolio" class="mat-elevation-z8">     

    <ng-container matColumnDef="Portföljnamn">
      <th mat-header-cell *matHeaderCellDef> Portföljnamn </th>
      <td mat-cell *matCellDef="let portfolio"> {{portfolio.name}} </td>
    </ng-container>  

    <ng-container matColumnDef="Skapad">
      <th mat-header-cell *matHeaderCellDef> Skapad </th>
      <td mat-cell *matCellDef="let portfolio"> {{portfolio.dateCreated | date}} </td>
    </ng-container>
 
    <ng-container matColumnDef="Benchmark">
      <th mat-header-cell *matHeaderCellDef> Benchmark </th>
      <td mat-cell *matCellDef="let portfolio"> {{portfolio.benchmarkDescription}} </td>
    </ng-container>  
   
    <ng-container matColumnDef="Potföljägare">
      <th mat-header-cell *matHeaderCellDef> Potföljägare </th>
      <td mat-cell *matCellDef="let portfolio"> {{portfolio.personName}} </td>
    </ng-container>
    <ng-container matColumnDef="Visa mer">
        <th mat-header-cell *matHeaderCellDef> Visa mer </th>
        <td mat-cell *matCellDef="let portfolio"><button mat-icon-button color="accent" (click)="showDetails(portfolio.id)"><mat-icon>chevron_right</mat-icon></button></td>
      </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
